:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Fira sans", sans-serif;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--dark);
  color: #fff;
}

header {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--light);
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.new-task-form {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.input_name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.input_assignee {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.new-task-content {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: space-between;
}

.new-task-input {
  display: flex;
  flex-direction: row;
}

.new-task-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

span {
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#taskId {
  width: 10%;
  padding: 0.2rem;
  text-align: center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: 1px solid var(--darker);
  background-color: var(--grey);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
}

#nameTask,
#filterName {
  border: none;
  outline: none;
  appearance: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  /* border-radius: 1rem; */
  padding: 1rem;
  width: 100%;
  background-color: var(--darker);
  color: var(--light);
}

#nameTask:focus,
#nameTask:hover,
#filterName:hover,
#filterName:focus {
  appearance: none;
  border: none;
  outline: none;
}

#nameTask::placeholder,
#filterName::placeholder {
  color: var(--light);
}

.selectAssignee {
  background-color: var(--darker);
  color: var(--light);
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  width: 60%;
}

.statusCheckboxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.7rem;
  gap: 0.5rem;
  padding: 0.5rem;
}

.labelCheckbox {
  display: flex;
  gap: 0.25rem;
}

#submitButtonForm {
  border: none;
  outline: none;
  background-color: var(--darker);
  border-radius: 1rem;
  color: var(--pink);
  padding: 0.7rem;
  font-size: 1rem;
  font-weight: 600;
  width: 25%;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

h2 {
  padding: 0.25rem;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  padding: 0 0.25rem;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 0.5rem;
  row-gap: 1rem;
  padding: 0.5rem;
}

li {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border: 1px solid var(--grey);
  padding: 0.5rem;
}

li .task_row1 {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
  width: 90%;
  font-size: 1rem;
  font-weight: 400;
}

li .task_row2 {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  width: 90%;
  font-size: 1rem;
  font-weight: 400;
}

.task_row2 .task_actions {
  display: flex;
  gap: 0.5rem;
}

.task .content .text {
  color: var(--light);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

li .task_name {
  background-color: var(--darker);
  color: var(--light);
  border-radius: 1rem;
  padding: 0.1rem 0.7rem;
}

li .content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.task_actions button {
  border: none;
  outline: none;
  background-color: var(--dark);
  color: var(--light);
  padding: 0.7rem;
  cursor: pointer;
}

.filter_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;
}

.filter_container_actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter_row2{
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.searchByTask {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem;
}

#filterName {
  border-radius: 1rem;
}

.searchByStatus {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

h6 {
  font-weight: 500;
  font-size: 0.85rem;
}

.sortByDate {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.sortByDate select {
  background-color: var(--darker);
  color: var(--light);
  padding: 0.7rem;
  border-radius: 1rem;
  border: none;
  outline: none;
}

#submitButtonForm:disabled,
#submitButtonForm[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.aside_container{
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 414px) {
  .new-task-content {
    display: flex;
    gap: 0;
    justify-content: space-between;
  }

  #nameTask {
    width: 100%;
  }

  .new-task-input {
    display: flex;
    flex-direction: row;
    width: 55%;
  }

  span {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .selectAssignee {
    background-color: var(--darker);
    color: var(--light);
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    max-width: 40%;
  }
}
