:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Fira sans', sans-serif;
  list-style:none;
}

body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 100vh;
  background: var(--dark);
  color: #FFF;
}

section {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 6rem;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.inputs_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input_content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  border: none;
  outline: none;
  appearance: none;
  width: 100%;
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  background-color: var(--darker);
  color: var(--light);
}

input:focus,
input:hover{
  appearance: none;
  border: none;
  outline: none;
}

input::placeholder {
  color: var(--grey);
}

.button_container {
  display: flex;
  justify-content: center;
}

.submitButton {
  border: none;
  outline: none;
  background-color: var(--darker);
  border-radius: 1rem;
  color: var(--light);
  padding: 0.7rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.bonus_output {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.bonus_output h2{
  padding: 0.5rem;
}

.bonus-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bonus-content label{
  font-size: 2rem;
}

#bonus {
  width: 50%;
}

.submitButton:disabled,
.submitButton[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
